<!DOCTYPE html>
<html>
<head>
    <title>My History</title>
</head>
<body>
<h1>Welcome, ${user.userName}!</h1>
<h2>My History</h2>
<table>
    <thead>
    <tr>
        <th>Timestamp</th>
        <th>Motion Status</th>
        <th>Temperature Value</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="sensorData : ${sensorDataList}">
        <tr>
            <td th:text="${sensorData.timestamp}"></td>
            <td th:text="${sensorData.motionStatus ? 'Detected' : 'Not Detected'}"></td>
            <td th:text="${sensorData.temperatureValue}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>
